*~
/assignment-11-blx.bib
/assignment-11.bbl
/assignment-11.blg
/assignment-11.fdb_latexmk
/assignment-11.fls
/assignment-11.run.xml
/assignment-11a-blx.bib
/assignment-11a.bbl
/assignment-11a.blg
/assignment-11a.fdb_latexmk
/assignment-11a.fls
/assignment-11a.run.xml
/test.fdb_latexmk
/test.fls
/test.html
/test.org
/test.pdf
/test.tex
*-blx.bib
*.bbl
*..blg
*.blg
*.fdb_latexmk
*.fls
*.run.xml
